.svn
.DS_Store
*.gem
*.log
pkg
doc
doc/**/**/*
*_documentation.rb
bundles/as3/samples/mxmlc/bin/*.swf
bundles/as3/samples/mxmlc/doc
bundles/as3/samples/mxmlc/bin/*.swc
media
.yardoc
.bundle
.coverage
coverage
tmp
coverage.data
Gemfile.lock
