<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="/css/reset-min.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/sprouts.css" media="all" />
  <script src="/javascripts/jquery-min-1.4.4.js"></script>
  <script src="/javascripts/sprouts.js"></script>
</head>
<body>
  <div id="header">
    <div class="center">
      <div class="content header-shadow">
        <div class="logo">Sprouts</div>
        <div class="tagline">Software development&mdash;evolved</div>
      </div>
    </div>
  </div>

  <a href="http://github.com/lukebayes/project-sprouts/tree/master"><img style="position: absolute; top: 300; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>

{{ content }}

  <div id="footer">
    <div class="center">
      <div class="content header-shadow">

        <table>

          <tr>
            <td>

              <ul>
                <li class="header">Details</li>
                <li class="home"><a href="/">Home</a></li>
                <li class="troubleshooting"><a href="/troubleshooting.html">Troubleshooting</a></li>
                <!--
                <li class=""><a href="/generators.html">Generators</a></li>
                <li class=""><a href="/libraries.html">Libraries</a></li>
                <li class=""><a href="/tools.html">Tools</a></li>
                -->
              </ul>

            </td>
            <td>

              <ul>
                <li class="header">Posts</li>
                {% for post in site.posts limit:10 %}
                <li class="post"><a href="{{ post.url }}">{{ post.title }}</a> <span class="date"></span></li>
                {% endfor %}
              </ul>

            </td>
            <td>

              <ul>
                <li class="header">Do It</li>
                <li><a target="_blank" href="http://groups.google.com/group/projectsprouts">Contact</a> (Google Groups)</li>
                <li><a target="_blank" href="https://github.com/lukebayes/project-sprouts/tree/master">Source Code</a> (Github)</li>
                <li><a target="_blank" href="https://github.com/lukebayes/project-sprouts/issues">File an Issue</a> (Github)</li>
                <li><a target="_blank" href="http://rubygems.org/gems/sprout">Download</a> (RubyGems)</li>
                <li><a target="_blank" href="http://projectsprouts.org/docs/1.1/frames.html">Documentation</a> 
                (<a target="_blank" href="http://projectsprouts.org/docs/1.1/index.html">No Frames</a>)</li>
              </ul>

            </td>
          </tr>

        </table>

      </div>
    </div>
  </div>
</body>

</html>

