<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="/css/reset-min.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/sprouts.css" media="all" />
</head>
<body>
  <div id="header">
    <div class="center">
      <div class="content header-shadow">
        <div class="logo">Sprouts</div>
        <div class="tagline">Software development&mdash;evolved</div>
      </div>
    </div>
  </div>

  <a href="http://github.com/lukebayes/project-sprouts"><img style="position: absolute; top: 300; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>

{{ content }}

  <div id="footer">
    <div class="center">
      <div class="content header-shadow">

        <ul>
          {% for post in site.posts limit:5 %}
          <li class="post">
            <a href="{{ post.permalink }}">{{ post.title }}</a>
          </li>
          {% endfor %}
        </ul>

      </div>
    </div>
  </div>
</body>

</html>

