---
layout: default
comments: true
---

<div class="center">
  <div class="content header-shadow">
    {{ content }}
  </div>
</div>

<div class="center even-section">
  <div class="content header-shadow">

    <div id="disqus_thread"></div>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

  </div>
</div>
